{{ define "header" }}
{{/* We can override any block in the baseof file be defining it in the template */}}
{{ partials.Include "page-header.html" . }}
{{ end }}

{{ define "main" }}
{{ $page := .}}
{{ $section := .Site.GetPage "section" .Section }}
<article class="flex-l mw8 center ph3 flex-wrap justify-between" itemscope itemtype="http://schema.org/PodcastEpisode">
  <header class="mt4 w-100">
    {{ if .Params.image }}
    <figure>
      <img src="{{ .Params.image }}" alt="{{ .Title }}" class="w-100" itemprop="image">
    </figure>
    {{ end }}
    <aside class="instapaper_ignoref b helvetica tracked ttu">
      {{ .CurrentSection.Title }}
    </aside>
    {{- partials.IncludeCached "social/share.html" . . -}}
    <h1 class="f1 athelas mt3 mb1" itemprop="name">
      {{- .Title -}}
    </h1>
    {{ with .Params.author | compare.Default .Site.Params.author }}
    <p class="tracked" itemprop="author">
      <strong>
        {{- if reflect.IsSlice . -}}
        {{ collections.Delimit . ", " | transform.Markdownify }}
        {{- else -}}
        {{ . | transform.Markdownify }}
        {{- end -}}
      </strong>
    </p>
    {{ end }}
    {{ if not .Date.IsZero }}
    <time class="f6 mv4 dib tracked" itemprop="datePublished" datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00"
      }}">
      {{ .Date | time.Format (compare.Default "January 2, 2006" .Site.Params.date_format) }}
    </time>
    {{ end }}
    {{ if (or (compare.Eq (.Param "show_reading_time") true) (compare.Eq $section.Params.show_reading_time true) )}}
    <span class="f6 mv4 dib tracked"> - {{ lang.Translate "readingTime" .ReadingTime }} </span>
    <span class="f6 mv4 dib tracked"> - {{ lang.Translate "wordCount" .WordCount }} </span>
    {{ end }}
  </header>

  <div class="nested-copy-line-height lh-copy {{ $.Param " post_content_classes" | compare.Default "serif" }} f4
    nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }} {{ compare.Conditional (compare.Eq
    $.Site.Language.LanguageDirection "rtl" ) "pl4-l" "pr4-l" }} w-two-thirds-l" itemprop="description">

    {{ if .Params.audio_file }}
    <audio controls src="{{ .Params.audio_file }}" itemprop="associatedMedia" itemscope
      itemtype="http://schema.org/MediaObject"></audio>
    {{ end }}

    {{- .Content -}}
    {{- partials.Include "tags.html" . -}}

    <div class="mt6 instapaper_ignoref">
      {{ if .Site.Config.Services.Disqus.Shortname }}
      {{ template "_internal/disqus.html" . }}
      {{ end }}
      {{ if .Site.Params.commentoEnable }}
      {{- partials.Include "commento.html" . -}}
      {{ end }}
    </div>
  </div>

  <aside class="w-30-l mt6-l">
    {{- partials.Include "menu-contextual.html" . -}}
  </aside>
</article>
{{ end }}